@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: Mulish;
    src: url(Mulish.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Mulish;
}

html {
    background-color: #ffffff;
}